.border {
    border-radius: 6px; 
    box-shadow: inset 1px 1px 0 0 rgba(210,205,205,0.5), 1px 1px 0 0 rgba(209,203,203,0.5);
}
.edit-button {
    color: #0078CF;
    font-size: 16px;
    float: right;
}
.heading  {
    color: #0078CF;
    /* font-family: Poppins; */
    font-size: 21px;
}

.nds-block_body {
    padding-right: 2rem;
}